<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"></html>

<head>
        <div th:insert="fragments/base :: assetsHead"></div>

    <title>North Point Inventory</title>
</head>
<nav th:replace="fragments/navbar :: navbar"></nav>

<body class="bg-light">
    <div class="container mt-5 text-center">
        <h1 class="display-4">North Point Inventory System</h1>
        <p class="lead" sec:authorize="isAnonymous()">Welcome, Guest!</p>
        <p class="lead" sec:authorize="hasRole('ADMIN')">Welcome, Admin!</p>
        <p class="lead" sec:authorize="hasRole('STAFF')">Welcome, Staff!</p>
        <p class="lead" sec:authorize="hasRole('USER')">Welcome, User!</p>
        <hr>
        <div class="mt-4">
            <a href="/inventory" class="btn btn-primary btn-lg m-2">View Inventory List</a>
            <a href="/add" class="btn btn-success btn-lg m-2">Add New Product</a>
        </div>
    </div>
    <div th:insert="fragments/base :: assetsScripts"></div>

</body>
</html>